.header{
    display: flex;
    align-items: center;
    background: #59ab92;
    padding: 0px;
    color: white;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 83px;

}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 10px;
}

