.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: nome;
}

.header .logo{
    max-height: 85px;
    margin-left: -15px;
}