.footer{
    position: fixed;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: flex-end; 
    background: #59ab92;
}

.footer span{
    font-size: 0.9rem;
    font-weight: 300;
}

.footer .mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
}

