.footer{
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end; 
}

.footer span{
    font-size: 0.9rem;
    font-weight: 300;
}

.footer .mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
}